@{
    ViewBag.Title = "Ota yhteyttä";
}
<header>
    <div class="@ViewBag.Title">


        <div class="p-5 text-center bg-light" style="margin-top: 58px;">
            <h1 class="mb-3">Yhteystiedot</h1>
            <h4 class="mb-3">Tältä sivulta löydät yhteystietomme.</h4>
            <a class="btn btn-primary" href="~/Home/Index" role="button">Takaisin etusivulle</a>
        </div>
    </div>
</header>
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Ota meihin yhteyttä</h5>
        <p class="card-text">Asiakastukemme ja myyntimme yhteystiedot.</p>
        <address>
            Mannerheimintie 43<br />
            Helsinki, 123000<br />
            <abbr title="Phone"> Puhelin:</abbr>
            050 - 6053 92933
        </address>
        <address>
            <strong>Asiakastuki:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Myynti:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>
<div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
        </div>
    </div>
</div>

@{
    Html.RenderPartial("_LoginModal");
}